.card {
    overflow: visible;

    .card-heading {
        border-top-left-radius: $card-border-radius;
        border-top-right-radius: $card-border-radius;
        background-color: $dark-gray;
        color: $white;
        font-weight: bold;
    }
    .card-footer {
        margin-top: 15px;
    }

    .card-section .card-section {
        padding-left: 0;
        padding-right: 0;
    }
}
