.card {
    .card-heading {
        background-color: $dark-gray;
        color: $white;
        font-weight: bold;
    }
    .card-footer {
        margin-top: 15px;
    }

    .card-section .card-section {
        padding-left: 0;
        padding-right: 0;
    }
}
