input::placeholder {
    text-transform: uppercase;
    letter-spacing: .05em;
}

body .form-error {
    display: block;
}

#react-select-2-input {
    outline: none;
    box-shadow: none;
}

.input-group {
    position: relative;
}

.input-group .input-group-button.position-absolute:last-child {
    top: 0;
    bottom: 0;
    right: 0;
}

.input-group .input-group-button.position-absolute:last-child .button {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 10px;
}

.input-group .input-group-button .icon {
    font-size: .75rem;
    transform: scale(2.1) translateY(.1em);
    line-height: 1em;
}
