#menu {
    transition: transform 250ms ease-in-out;
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    background-color: $white;
    width: calc(100vw - 60px);
    max-width: 500px;
    box-shadow: 7px 7px 7px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
}

.menu__footer,
.menu__content {
    padding: 25px;
}

.menu__footer .logout-button {
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#menu.menu--open {
    transform: translateX(0);
}

#menu h1 {
    margin-bottom: 35px;
}

#menu {

}

.menu__item {
    border-left: solid 2px $medium-gray;
    padding: 7px 15px;
    margin-bottom: 15px;
}

.menu__item:hover,
.menu__item--active {
    border-left-color: $primary-color;
}

.menu__item:not(.menu__item--active) {
    cursor: pointer;
}

.menu__item:not(.menu__item--active) .menu__item-title {
    text-decoration: underline;
}

.menu__item:hover .menu__item-title {
    text-decoration: none;
}

.menu__item-date {
    font-size: 12px;
    color: $gray;
}

.menu__pagination {
    margin-bottom: 15px;
    text-align: center;
}

.menu__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
