#menu {
    transition: transform 250ms ease-in-out;
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    background-color: $white;
    width: calc(100vw - 60px);
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
    text-align: center;
}

#menu.menu--open.shadow {
    box-shadow: 7px 7px 7px 0px rgba(0, 0, 0, 0.15);
}

.menu__footer,
.menu__content {
    padding: 25px;
}

.menu__footer .logout-button {
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#menu.menu--open {
    transform: translateX(0);
}

.menu__items-wrapper {
    display: flex;
    justify-content: center;
}

.menu__item {
    display: block;
    padding: 7px 15px;
    margin-bottom: 15px;
}

.menu__item.menu__item--border-left {
    border-left: solid 2px $medium-gray;
}

.menu__item.menu__item--border-left:hover,
.menu__item--active.menu__item--border-left {
    border-left-color: $primary-color;
}

.menu__item.menu__item--border-left:hover,
.menu__item--active.menu__item--border-left {
    border-color: $primary-color;
}


.menu__item.menu__item--border-bottom {
    padding: $global-padding*2;
}

.menu__item.menu__item--border-bottom:not(:last-child) {
    border-bottom: solid 2px $medium-gray;
}

.menu__item,
.menu__item {
    color: $black;
}

.menu__item--active,
.menu__item--active:hover {
    color: $black;
    cursor: default;
}

.menu__item:not(.menu__item--active) {
    cursor: pointer;
    text-decoration: none;
}

.menu__item:not(.menu__item--active) .menu__item-title {
}

.menu__item--active .menu__item-title,
.menu__item:hover .menu__item-title {
    text-decoration: underline;
}

.menu__item-icon {
    font-size: 2.5rem;
}

.menu__item-date {
    font-size: 12px;
    color: $gray;
}

.menu__pagination {
    margin-bottom: 15px;
    text-align: center;
}

.menu__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
