.text-small {
    font-size: .8em;
}

.text-large {
    font-size: 1.2em;
}


a.text-underline:hover {
    text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6, p, ul {
    :last-child {
        margin-bottom: 0;
    }
}
